table {
  border-collapse: collapse;
  width: 85%;
}

th,
td {
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #4caf50;
  color: whitesmoke;
}
