<p>dashboard works!</p>

<div class="container">
        <form #investorForm="ngForm" (ngSubmit)="add()" class="was-validated">
            <div class="form-group">
                Investment Id:<input type="number" name="iid" id="iid" [(ngModel)]="investor.id" #investid="ngModel"
                    class="form-control" required pattern="[0-9]{3,}">
                <span *ngIf="investid.touched&&investid.errors?.required" class="invalid-feedback">InvestmentId Required</span>
                <span *ngIf="investid.touched&&investid.errors?.pattern" class="alert alert-danger">Required Investment Id should
                    have min 3 numbers </span>
            </div>
            <div class="form-group">
                Income:<input type="number" name="income" id="income" [(ngModel)]="investor.income" #income="ngModel"
                    class="form-control" required required pattern="[0-9]{1,}">
                <span *ngIf="income.touched&&income.errors?.required" class="invalid-feedback">Income Required</span>
                <span *ngIf="income.touched&&income.errors?.pattern" class="alert alert-danger">Enter valid income </span>
            </div>
            <div class="form-group">
                Expenses:<input type="number" name="exp" id="exp" [(ngModel)]="investor.exp" #exp="ngModel"
                    class="form-control" required required pattern="[0-9]{1,}">
                <span *ngIf="exp.touched&&exp.errors?.required" class="invalid-feedback">Expense required</span>
                <span *ngIf="exp.touched&&exp.errors?.pattern" class="alert alert-danger">Enter valid Expense </span>
            </div>
            <div class="form-group">
                Assets:<input type="number" name="asset" id="asset" [(ngModel)]="investor.asset" #asset="ngModel"
                    class="form-control" required required pattern="[0-9]{1,}">
                <span *ngIf="asset.touched&&asset.errors?.required" class="invalid-feedback">Cost required</span>
                <span *ngIf="asset.touched&&asset.errors?.pattern" class="alert alert-danger">Enter valid value
                </span>
            </div>
            <div class="form-group">
                    Life Expectancy:<input type="number" name="lifeexp" id="lifeexp" [(ngModel)]="investor.lifeexp" #lifeexp="ngModel"
                        class="form-control" required required pattern="[0-9]{1,}">
                    <span *ngIf="lifeexp.touched&&lifeexp.errors?.required" class="invalid-feedback">Cost required</span>
                    <span *ngIf="lifeexp.touched&&lifeexp.errors?.pattern" class="alert alert-danger">Enter valid Number
                    </span>
                </div>
            
            <button class="btn btn-primary" type="submit" [disabled]="investorForm.invalid">Analyse</button>
    
        </form>
    </div>