mat-form-field {
  width: 100%;
}
.controles-container {
  width: 100%;
  padding: 5%;
}
.controles-container > *,
.full-width {
  width: 100%;
}
div.container {
  margin: 0px 40px;
}
form.normal-form {
  margin: 1px;
}
.form_align {
  width: 100%;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form_align > *,
.full-width {
  width: 100%;
}

/* radio group */
.add-bottom-padding {
  padding-bottom: 10px;
}

/* add gap b/w adjacent button */
.button-row button {
  margin: 5px;
}
mat-radio-group mat-radio-button {
  margin-left: 5px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
           Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.one{
  margin-left: 500px;
  margin-right: 500px;
}
