@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-row:nth-child(even) {
  background-color: gray;
}

.mat-row:nth-child(even) {
  background-color: whitesmoke;
}
.mat-header-row {
  background-color: #d5e2f0;
}

.mat-header-cell {
  font-family: Ubuntu;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #004184;
}

.footer {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  text-align: center;

  color: #ffffff;

  background-color: #00233d;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.mat-h1 {
  color: #0070ad;
}
